node_modules

.DS_Store
dist
.next
.vercel
.env
.env.production
.env.development.local
migrations
generated/
test-results/
tsconfig.tsbuildinfo
.eslintcache
server.js

# IDE Specific
.idea
.vscode
.vim
